@use '../variables';

button {
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: variables.$border-radius;
  cursor: pointer;
  background: variables.$color-secondary;
  color: variables.$color-text-secondary;
  &:hover {
    opacity: 0.9;
  }
}
