@use "../variables";
.header{
    background: variables.$color-primary;
    color: variables.$color-text-secondary;
    padding: variables.$spacing-unit;
    text-align: center;
    font-size: variables.$font-size-base * 1.2;
}