@use '../variables';
.header {
  background: variables.$color-primary;
  color: variables.$color-text-secondary;
  padding: variables.$spacing-unit;
  margin-bottom: variables.$spacing-unit;
  text-align: center;
  @media (max-width: 980px) {
    padding: calc(variables.$spacing-unit / 2);
    h1 {
      font-size: variables.$font-size-base;
    }
  }
}
