@use '../variables';

.paginator{
    display: flex;
    justify-content: center;
    margin: variables.$spacing-unit 0;
    button{
        margin: 0 variables.$spacing-unit/4;
    }
    .active{
        background-color: variables.$color-primary;
        color: white;
    }
}