@use '../variables';

.search {
  margin-bottom: variables.$spacing-unit;
  padding: variables.$spacing-unit;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: variables.$font-size-base;
}
