@use '../variables';

.user {
  &-table {
    width: 80vw;
    justify-self: center;
    text-align: center;
    table {
      width: 80vw;
      border-collapse: collapse;
      table-layout: fixed;
      place-self: center;
      text-align: center;

      th,
      td {
        border: 1px solid #ddd;
        padding: variables.$spacing-unit;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }

      th {
        background: variables.$color-bg-secondary;
        color: variables.$color-text-secondary;
      }
    }
  }
}
